.header{
    background-color: aliceblue;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    border-radius: 0px 0px 5px 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navul{
    display: flex;
    margin-right: 40px;
    list-style: none;
    margin-top: 0px;
}

.navli{
    margin: 0 10px;
    line-height: 60px;
    width: max-content;
}
.logo {
    position: inherit;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    margin-left: 20px;
    line-height: 60px;
}

.buttonav {
    background : rgb(0, 128, 0);
    border-radius: 0.5em;
    border: none;
    color : white; 
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    height: 35px;
}

.buttonav:hover {
    background : #031F37;     
    transition: 0.5s;
    color: white;
}
.linknewco {
    color: white;
    text-decoration: none;
}

.linknewco:hover {
    color: white;
    text-decoration: none;
}

.menumobil{
    margin: 0 10px;
    cursor: pointer;
    display: none;
}

.navli{
    margin: 0 10px;
    line-height: 60px;
    width: max-content;
    cursor: pointer;
}

@media screen and (max-width: 780px){
    .navul{
        display: none;
    }

    .navmenumobil{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgba(0, 255, 255, 0.925);
        left: 0;
        top: 42px;
        transition: all 0.5s ease-out;
        width: 100%; 
        padding-left: 0px;
     }

     .navli{
        text-align: center;
        padding: 0px;
        width: 100%;
        transition: all 0.5s ease;
        font-size: 18px;
    }

    .menumobil{
        display: block;
        position: inherit;
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 33px;
        color: #031F37;
        height: 65px;
    }
    .logo {
        position: inherit;
        width: 40px;
        height: 40px;
        padding-top: 10px;
        margin-left: 17px;
        line-height: 60px;
    }

}