.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorcar {
    display: flex;
    align-items: center;
    align-content: center;
    width: 850px;
    height: auto;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .02);
    margin-top: 80px;
}

.containercountry {
    border-right: 1px solid #ddd;
}

.containercountry img{
    position: relative;
    display: block;
    border-radius: 10px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    margin: 20px 30px;
    transition: .2s;
    
}
.labeldes{
    font-weight: normal;
}

.containercountry img:hover{
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
}
.containercountry h2{
    color: #f0522a;
}

.containercountry h4{
    margin-bottom: 10px;
}

.containercountry, .despcrition{
    text-align: center;
}
.despcrition{
    background: #fbfbfb;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.despcrition h4{ 
    margin: 8px 8px 8px 100px;
}

.despcrition h2{ 
    margin: 8px 8px 8px 100px;
}

.despcrition li{
    list-style: none;
    font-weight: bold;
    margin: 8px 8px 8px 100px;
}

.despcrition .buttonback{
    margin-top: 10px;
}

.despcrition .buttonback button{
    display: inline-block;
    background : #031F37; 
    border-radius: 5px;
    border: none;
    color : white; 
    font-weight: bold;
    cursor: pointer;
    margin: 15px 2px 15px 2px;
    height: 35px;
}

.despcrition .buttonback button:hover{
    background : rgb(0, 128, 0); 
    transition: 0.5s;
    color: white;
}

.destable{
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 8px 8px 8px 20px;
}

.destable thead tr {
    background-color: #980081;
    color: #ffffff; 
    text-align: middle;
}

.destable th .destable td {
    padding: 12px 15px;
}

.destable tbody tr {
    border-bottom: 1px solid #dddddd; 
    } 
    .destable tbody tr:nth-of-type(even) { 
        background-color: #f3f3f3; 
    }
    .destable tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
}

    @media (max-width: 720px) {
        .contenedorcar {
            display: block;  
            width: 300px; 
            margin-top: 80px;      
        }

        .containercountry img{
            width: 200px;
            height: 100px;
            margin-left: 50px;
        }
        .despcrition h4{ 
            margin: 8px;
        }

        .despcrition h2{ 
            margin: 8px;
        }
        
        .despcrition li{
            margin: 8px;
        }
        .destable{
            display: block;
            width: 100%;
            overflow-x: auto;
            min-width: 100%;
            margin: 8px 10px 8px 10px;
        }
            
    }